asgiref==3.2.10
atomicwrites==1.4.0
attrs==21.2.0
boto3==1.17.93
botocore==1.20.93
certifi==2020.12.5
chardet==4.0.0
chromedriver==2.24.1
colorama==0.4.4
configparser==5.0.2
coverage==5.5
crayons==0.4.0
dj-database-url==0.5.0
Django==3.1.2
django-crispy-forms==1.11.1
django-debug-toolbar==3.1.1
django-heroku==0.3.1
django-ses==2.0.0
future==0.18.2
gunicorn==20.1.0
heroku==0.1.4
idna==2.10
importlib-metadata==4.0.1
iniconfig==1.1.1
jmespath==0.10.0
packaging==20.9
pluggy==0.13.1
psycopg2==2.8.6
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.12.0
python-dateutil==2.8.1
pytz==2020.1
requests==2.25.1
reverse==0.1.0
s3transfer==0.4.2
selenium==3.141.0
six==1.16.0
sqlparse==0.4.1
toml==0.10.2
typing-extensions==3.10.0.0
urllib3==1.26.3
webdriver-manager==3.4.1
whitenoise==5.2.0
zipp==3.4.1
