{% extends 'food/base.html' %}

{% block content %}
{% load crispy_forms_tags %}

<header class="page-section-title-research">
</header>
<section class="page-section food_researched">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-8">
                <p>{{ infos_user.username }}</p>
            </div>
        </div>
    </div>
</section>
<!-- email Section -->
<section class="container-account">
    <div class="row justify-content-center text-align-center">
        <div class="container-emailaccount">
            <p>{{ infos_user.email }}</p>
        </div>
    </div>
</section>
    <div class="container">
          <div class="row justify-content-center">
            <div class="col-8">
              <h1 class="mt-2">Tu peux modifier tes informations</h1>
              <hr class="mt-0 mb-4">

                 <form action="{% url 'accounts:connection_user' %}" method="post" novalidate>
                    {% csrf_token %}
                    {{ form | crispy }}
                    <input type="submit" value="Modifier"  class="btn btn-success">
                 </form>
            </div>
          </div>
    </div>

<section>

</section>

{% endblock %}
