{% extends 'food/base.html' %}


{% block content %}

	<!--Password reset sent-->
	<div class="container p-5">
  	<h1 class="font-weight-bold mt-3">Réinitialisation du mot de passe envoyée</h1>
		<hr>
		<p>Nous vous avons envoyé par e-mail des instructions pour définir votre mot de passe, si un compte existe avec l'e-mail que vous avez entré. Vous devriez les recevoir sous peu.<br>Si vous ne recevez pas d'e-mail, assurez-vous d'avoir saisi l'adresse avec laquelle vous vous êtes inscrit et vérifiez votre dossier spam.
</p>
  </div>

{% endblock %}