{% extends 'food/base.html' %}

{% block content %}

{% load crispy_forms_tags %}

	<!--Reset Password-->
	<div class="container p-5">
  	 	<h1 class="font-weight-bold mt-3">Réinitialiser le mot de passe</h1>
		<hr>
		<p>Mot de passe oublié ? Suivez les instructions reçues par email pour en recevoir un autre.</p>
        <form method="POST">
            {% csrf_token %}
            {{ password_reset_form|crispy }}
            <button class="btn btn-primary" type="submit">email envoyé</button>
        </form>
  	</div>

{% endblock %}