{% extends 'food/base.html' %}

{% block content %}

    {% load crispy_forms_tags %}

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-8">
          <h1 class="mt-2">Identifies-toi</h1>
          <hr class="mt-0 mb-4">

             <form action="{% url 'accounts:register' %}" method="post" novalidate>
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" value="S'identifier"  class="btn btn-success">
             </form>

          <div class="line_register_or_not_space">
             <a href="{% url 'accounts:login_page' %}">Si vous êtes enregistrés, Cliquez-ici</a>
          </div>

        </div>

      </div>
    </div>

{% endblock %}