{% extends 'food/base.html' %}

{% block content %}

<header class="page-section-title-research">
</header>
<section class="page-section food_researched">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center text-center">
            <div class="col-lg-8">
                <p>{{ name_food.name }}</p>
                <p class="badge-pill badge-primary badge-nutriscore-title text-uppercase">{{ name_food.nutriscore }}</p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">

            {% for food_substitute in foods_substitutes %}
                <div class="col-sm-4 text-center item_border">

                        <img class="img-responsive image_food" src="{{ food_substitute.image }}" alt="{{ food_substitute.name }}">

                        <h5>{{ food_substitute.name }}</h5>
                        <h4 class="badge-pill badge-primary badge-nutriscore text-uppercase">{{ food_substitute.nutriscore }}</h4>

                        <a href="{% url 'food:details_food' product_id=food_substitute.pk %}">Fiche détails du produit</a>

                        <form action="{% url 'food:save_food' %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" value="{{ food_substitute.pk }}" id="food_substitute_pk" name="food_substitute_pk">
                            <input type="submit" value="sauvegarder"  class="btn btn-success save_btn">
                        </form>


                </div>

                {% if forloop.counter|divisibleby:3 %}
                    <div class="clearfix"></div>
                {% endif %}

            {% endfor %}

        </div>
    </div>
</section>
{% endblock %}

